<h1>{{user.name}}</h1>
<br>
<img src= '{{user.image}}'>
<br><br>
Email: {{user.email}}
<br>
Website: {{user.website}}
<br><br>
Favourite users:
<br>
    {{#each userFav}}
    <a href='/user/{{favourite_id}}'>*{{favourite_id}}</a>, 
    {{/each}}
<br><br>

Blog posts:
<br>
{{#each posts}}
    * <a href='/posts/{{posts_id}}'>{{title}}</a><br>
{{/each}}