<h1>{{user.name}}</h1>
<br>
<img src= '{{user.image}}'>
<br>
Email: {{user.email}}
<br>
Website: {{user.website}}
<br><br>
Blog posts:
<br>
{{#each posts}}
    * <a href='/posts/{{posts_id}}'>{{title}}</a><br>
{{/each}}